body{
    background-color: #F7CAC9 ;
}

header{
    background-color: #b56a6a;
    text-align: center;
    padding: 20px;
}

.nav_links a {
    display: inline-block;
    width: 20%;
    padding-left: 3%;
    padding-right: 10%;
    cursor: pointer;
    border-left: 1px solid white;
    margin-right: 30px;
    text-transform: uppercase;
    list-style-type: none;
}
  
li {
    min-width: 80px;
    display: inline-block;
    color: rgb(70, 170, 4);
}

a{
    color: rgb(134, 8, 212);
    text-decoration: none;
    font-family: sans-serif;
}

main{
    text-align: center;
}