<section id="viewCatalog" class="background-img">
  <div class="added-hotels">
    {{#if hotels}}
        {{#each hotels}}
            {{> hotelCard}}
        {{/each}}
    </div>
    {{else}}
    <div class="guest">There are no Hotels found...</div> 
    {{/if}}
</section>