<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ttile here</title>
</head>
<body>
    <header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/register">register</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/catalog">catalog</a></li>
        </ul>
    </nav>
    </header>

    <main>
        {{{body}}}
    </main>
</body>
</html> 