<h1>Catalog Page</h1>

<!--
<section id="formSearch">
    <form method="get">
        <input name="search" value="{{search}}">
        <input type="submit" value="Search">
    </form>
</section>
-->

<section>
    <ul>
        {{#each rooms}}
            {{> roomCard}}
        {{/each}}
    </ul>
</section>
