<form action="/login" method="post">
        <label><span>Name</span><input type="text" name="name"></label>
        <label><span>Password</span><input type="password" name="password"></label>
        <button>Submit</button>
</form>